<html>
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MONITORING KUALITAS AIR PADA TAMBAK LOBSTER MENGGUNAKAN METODE LOGIKA FUZZY </title>
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
  </head>
  <body>
    <div class="container">
      <div class="row mt-2">
        <div class="col-md-12" style="background-color:AntiqueWhite ;">
         <h1><center><b>MONITORING KUALITAS AIR PADA TAMBAK LOBSTER MENGGUNAKAN METODE LOGIKA FUZZY</b></center></h1>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-6">
          <ul class="list-group">
            <li class="list-group-item">
              <a class="nav-link active" href="#">HOME</a>
            </li>
            <li class="list-group-item">
              <a class="nav-link" href="#">Tentang Aplikasi</a>
            </li>
          </ul>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-header">
                  PH AIR
                </div>
                <div class="card-body">
                  <h5 class="card-title">


                  </h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">6,78</li>
                  <li class="list-group-item">BAIK</li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-header">
                  KEKERUHAN AIR
                </div>
                <div class="card-body">
                  <h5 class="card-title">


                  </h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">50,7</li>
                  <li class="list-group-item">BURUK</li>
                </ul>
              </div>
            </div>
            <div class="col-sm-12 mt-3">
              <table class="table" border="1">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">TANGGAL</th>
                    <th scope="col">PH AIR</th>
                    <th scope="col">KEKERUHAN AIR</th>
                    <th scope="col">KESIMPILAN</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>09-06-2023</td>
                    <td>6.89</td>
                    <td>50.9</td>
                    <td>BURUK</td>
                  </tr>
                  <tr>
                    <td>09-06-2023</td>
                    <td>6.89</td>
                    <td>50.9</td>
                    <td>BURUK</td>
                  </tr>
                  <tr>
                    <td>09-06-2023</td>
                    <td>6.89</td>
                    <td>50.9</td>
                    <td>BURUK</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>